/* ---------- [All Pages] ---------- */


body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans Narrow", "Arial Narrow", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #242424;
    background-image: url(../img/index-background.jpg);
    background-position: center  40px;
    background-repeat: no-repeat;
}

.inner-page {
    background-color: #f8f5f2;
    background-image: url(../img/shop-background.jpg);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    margin: 0;
}

.list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.button {
    display: inline-block;
    
    font: inherit;
    
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;

    background-color: #000000;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Header */


.main-header {
    background-color: #000000;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    
    font-size: 16px;
    line-height: 20px;
}

.main-navigation__logo {
    width: 111px;
    height: 24px;
    padding: 23px 20px 25px;
}

.main-navigation .menu {
    display: flex;
    flex-wrap: wrap;
    
    width: 650px;
}

.main-navigation .user {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    width: 140px;
}

.main-navigation__link {
    display: block;
    
    padding: 27px 20px 25px;
    
    color: #ffffff;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
    background-color: #242424;
}

.main-navigation .menu__link--current {
    position: relative;
}

.main-navigation .menu__link--current::before {
    position: absolute;
    content: "";
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 4px;
    
    background-color: #ffffff;
}

.main-navigation .user__link {
    position: relative;
    padding-left: 45px;
}

.main-navigation .user__link::before {
    content: "";
    position: absolute;
    top: 27px; 
    right: 67px;
    width: 16px;
    height: 16px;
    
    opacity: 0.3;
    
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-navigation .user__link:hover::before,
.main-navigation .user__link:focus::before {
    opacity: 1;
}


/* Main */


.inner-page main {
    color: #000000;
}

.inner-page main h1 {
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.breadcrumbs a {
    position: relative;
    padding: 0;
    margin-right: 40px;
    color: #000000;
}

.breadcrumbs a::after {
    position: absolute;
    content: "";
    top: 4px;
    right: -25px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    
    background-color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs .current {
    color: #aba9a7;
}


/* Footer */


.main-footer {  
    background-color: #232323;
    background-image: url(../img/footer-background.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-wrapper {
    display: flex;
    padding-top: 59px; 
    padding-bottom: 36px;
    
    background-color: #232323;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:active {
    text-decoration: none;
}

.footer-social {
    width: 140px;
    margin-right: 260px;
    text-align: center;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    
    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
}

.social-button:hover img,
.social-button:focus img {
    display: none;
}

.social-vk a:hover,
.social-vk a:focus {
    background-color: #ffffff;
    background-image: url(../img/social-vk-dark.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-instagram a:hover,
.social-instagram a:focus {
    background-color: #ffffff;
    background-image: url(../img/social-instagram-dark.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-facebook a:hover,
.social-facebook a:focus {
    background-color: #ffffff;
    background-image: url(../img/social-facebook-dark.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.footer-copyright {
    width: 140px;
    margin: 0;
    text-align: center;
}

.copyright-button {
    padding: 12px 29px 7px;
    margin-top: 12px;
}

.copyright-button:hover,
.copyright-button:focus {
    color: #000000;
    
    background-color: #ffffff;
}


/* Modal */


.modal  {
    display: none;
    position: fixed;
    top: 120px;
    
    color: #000000; 
}

@keyframes modal-jump {
    0% {transform: translateY(-2000px);}
    50% {transform: translateY(30px);}
    70% {transform: translateY(-10px);}
    80% {transform: translateY(10px);}
    90% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

.modal-show {
    display: block;
    animation-name: modal-jump;
    animation-duration: 0.6s;
}

@keyframes modal-shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.modal-invalid {
    animation-name: modal-shake;
    animation-duration: 0.6s;
}

.modal-user {
    width: 300px;
    padding-top: 52px;
    padding-bottom: 58px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 240px;
    margin-bottom: 73px;
    
    line-height: 17px;
    
    background-color: #f8f5f2;
    background-image: url(../img/modal-login-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.modal-user h2 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
}

.modal-form input[type="text"],
.modal-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    
    box-sizing: border-box;
    width: 300px;
    padding-top: 12px;
    padding-right: 39px;
    padding-bottom: 10px;
    padding-left: 14px;
    
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.modal-form input::placeholder {
    opacity: 1;
    color: #000000;
}

.modal-form input[type="text"] {
    background-image: url(../img/modal-user-logo.svg);
    background-position: right 13px center;
    background-repeat: no-repeat;
}

.modal-form input[type="password"] {
    background-image: url(../img/modal-lock-logo.svg);
    background-position: right 13px center;
    background-repeat: no-repeat;
}

.modal-form input:focus {
    border-color: #663d15;
}    

.modal-form .help {
    display: flex;
    justify-content: space-between;
}

.modal-form input[type="checkbox"] + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}

.modal-form input[type="checkbox"] + label::before {
    position: absolute;
    content: "";
    
    width: 16px;
    height: 16px;
    top: -3px;
    left: 0;
    
    background-color: #f9f6f3;
    border: 2px solid black;
}

.modal-form input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    
    width: 12px;
    height: 12px;
    top: 1px;
    left: 4px;
    
    background-image: url(../img/modal-remember-cross.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.modal-form input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;    
}

.modal-form input[type="checkbox"]:hover + label,
.modal-form input[type="checkbox"]:focus + label {
    color: #663d15;
}

.modal-form a:hover,
.modal-form a:active {
    text-decoration: none;
}

.modal-form .restore {
    color: #000000;
    text-decoration: underline;
}

.modal-button {
    width: 300px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: -35px;
    width: 21px;
    height: 21px;
    
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    position: absolute;
    content: "";
    top: 8px;
    left: -1px;
    
    width: 23px;
    height: 5px;
    color: red;
    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}


/* ---------- [Index Page] ---------- */


.index-header {
    margin-bottom: 60px;    
}

.index-page__logo {
    display: block;
    width: 371px;
    height: 155px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 73px;
}

.features {
    margin-bottom: 75px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.features__item {
    width: 300px;
    
    text-align: center;
}

.features h3 {
    position: relative;
    padding-bottom: 58px; 
    font-size: 30px;
    line-height: 42px;
}

.features h3::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 136px;
    width: 28px;
    height: 28px;
    
    background-image: url(../img/rhombus-white.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.features p {
    margin: 0;
    padding: 0 10px;
}

.block-wrapper {
    display: flex;
    justify-content: space-between;
    
    color: #000000;
    
    background-color: #f8f5f2;
    background-image: 
        url(../img/block-wrapper-separator.png),
        url(../img/block-wrapper-background.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.news-gallery {
    padding: 50px 80px 50px;
    margin-bottom: 35px;
}

.news-gallery h2 {
    margin: 0;
    padding-bottom: 18px;
}

.news {
    width: 380px;
}

.index-page h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    margin: 0;
    padding: 0;
    
    list-style: none;    
}

.news-item {
    padding-bottom: 21px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: none;
}

.news-button {
    margin-top: 6px;
    padding: 13px 34px 7px;
}

.gallery {
    width: 300px;
}

.gallery-content{
    width: 286px;
    height: 164px;
    
    margin: 0;
    margin-bottom: 38px;
    padding: 7px;
    
    background-image: url(../img/gallery-photo-substrate.png);
    background-position: 0 0;
    background-repeat: repeat;
}

.gallery-button-wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery .button-back {
    width: 140px;
    height: 44px;
}

.gallery .button-next {
    width: 140px;
    height: 44px;
}

.contacts-appointment {
    padding: 49px 80px 50px;
    margin-bottom: 65px;
}

.contacts-appointment h2 {
    margin: 0;
    padding-bottom: 17px;
}

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
}

.contacts-address {
    padding-bottom: 21px;
}

.contacts-schedule {
    padding-bottom: 20px;
}

.button-map {
    margin-right: 20px;
    padding: 12px 30px 7px;
}

.button-feedback {
    padding: 12px 24px 7px;
}

.appointment {
    width: 300px;
}

.appointment-info {
    margin: 0;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    margin: 0;
    margin-top: 12px;
}

.appointment-item label {
    display: block;
    padding-left: 17px;
    padding-bottom: 4px;
}

.appointment-item input {
    box-sizing: border-box;
    width: 140px;
    padding: 11px 15px 4px;
    
    font: inherit;
    
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.appointment-button {
    width: 300px;
    height: 43px;
    margin-top: 22px;
}

.modal-map {
    width: 766px;
    height: 560px;
    margin-left: 80px;
    border: 7px solid white;
    box-shadow: 0 30px 50px rgba(0, 1, 1, 0.75);
}

.modal-map img {
    position: absolute;
    top: 0;
    z-index: -1;
}


/* ---------- [Catalog Page] ---------- */


.catalog-header {
    margin-bottom: 53px;
}

.catalog-page {
    line-height: 18px;
}

.catalog-page h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.catalog-page .breadcrumbs {
    margin-bottom: 49px;
}

.catalog-page .breadcrumbs a {
    line-height: 20px;
}

.catalog-page .breadcrumbs .current {
    line-height: 20px;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
}

.filters fieldset {
    width: 200px;
    margin: 0;
    padding: 0;
    
    border: none;
}

.filters legend {
    font-size: 24px;
    line-height: 30px;
}

.producers {
    margin-bottom: 29px;
}

.groups {
    margin-bottom: 28px;
}

.filters ul {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    
    list-style: none;
}

.filters li {
    margin: 0;
    margin-bottom: 19px;
    margin-left: 43px;
}

.filters input[type="checkbox"] + label {
    position: relative;
}

.filters input[type="checkbox"] + label::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -43px;
    width: 16px;
    height: 16px;
    background-color: #f9f6f3;
    border: 2px solid black;
}

.filters input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "";
    top: 1px;
    left: -39px;
    width: 12px;
    height: 12px;
    background-image: url(../img/filters-checkbox-cross.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filters input[type="radio"] + label {
    position: relative;
}

.filters input[type="radio"] + label::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -44px;
    width: 22px;
    height: 22px;
    
    background-image: url(../img/filters-radio-border.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filters input[type="radio"]:checked + label::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -37px;
    width: 8px;
    height: 8px;
    background-image: url(../img/filters-radio-check.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filters input:hover + label,
.filters input:focus + label {
    color: #663d15;
}

.filters input:disabled + label {
    color: #000000;
    
    opacity: 0.5;
}

.filters-button {
    margin: 0;
    padding: 14px 28px 11px 33px;   
}

.catalog {
    width: 700px;
    padding-bottom: 25px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    
    list-style: none;
}

.catalog-item {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog .item-info {
    padding: 9px 16px 11px;
    
    color: #000000;
}

.catalog .item-info p {
    margin: 0;
}

.catalog .category {
    text-transform: none;
}

.catalog .price {
    display: flex;
    padding-left: 19px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.catalog .price b {
    flex-grow: 0;
    width: 109px;
    padding-top: 14px;
    padding-bottom: 11px;
    text-align: center;
    background-color: #e5e5e5;
}

.catalog .buy-button {
    width: 78px;
    padding-top: 14px;
    padding-bottom: 11px;
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    width: 193px;
    margin: 0;
    margin-left: 240px;
    margin-bottom: 49px;
    padding: 0;
    
    list-style: none;
}

.pagination-item {
    display: block;
    width: 43px;
    padding-top: 14px;
    padding-bottom: 11px;
    
    text-align: center;
    color: #ffffff;
    
    background-color: #000000;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
    background-color: #663d15;   
}

.pagination-list .current {
    color: #000000;  
    
    background-color: #ffffff;     
}


/* ---------- [Catalog Item Page] ---------- */


.item-header {
    margin-bottom: 54px;
}

.item-page {
    margin-bottom: 50px;
}

.item-page h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.item-page .breadcrumbs {
    margin-bottom: 50px;
}

.item-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;  
}
.item-photos {
    width: 460px;
}

.item-photo {
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.item-photos .big-photo {
    margin-bottom: 12px;
}

.item-photos ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.small-photos-list li {
    width: 140px;
    height: 149px;
}

.item-page-info {
    width: 390px;
}

.item-page-info p {
    margin: 0;
    padding: 0;
}

.item-data {
    display: flex;
    justify-content: space-between;
}

.item-data p {
    padding-top: 22px;
    padding-bottom: 29px;
}

.item-article {
    padding-right: 12px;
    color: #aeaeae;
}

p.item-description {
    margin-bottom: 34px;    
}

.item-page-info .price {
    width: 187px;
    display: flex;
    margin-bottom: 64px;
}

.item-page-info .price b {
    width: 109px;
    padding-top: 11px;
    padding-left: 6px;
    padding-bottom: 8px;
    
    text-align: center;
    background-color: #e5e5e5;
}

.item-page-info .buy-button {
    width: 79px;
    padding-top: 11px;
}

.item-page-info h3 {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    
    font-size: 24px;
    line-height: 30px;
}

.item-page-info ul {
    margin: 0;
    padding-left: 21px;
    list-style: none;
}

.set-list li {
    position: relative;
}

.set-list li::before {
    position: absolute;
    content: "";
    top: 6px;
    left: -19px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    
    background-color: #000000;
    background-position: 0 0;
    background-repeat: no-repeat;
}
